.env
node_modules

echo "# jobportal" >> README.md
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/shadabk7868/jobportal.git
git push -u origin main